body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background: #ffffff;
  background: linear-gradient(
    348deg,
    rgba(255, 255, 255, 1) 38%,
    rgba(8, 31, 37, 0.33) 39%,
    rgba(8, 145, 178, 1) 35%
  );
  display: flex;
  justify-content: center;
}

.main-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.main-container .image-wrapper {
  height: 500px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.201);
  z-index: 1;
}

.main-container .image-wrapper h1 {
  position: relative;
  top: -340px;
  left: 200px;
  font-family: "Playfair Display", serif;
  color: #ffffff;
}

.about-me-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.201);
  background-color: #ffffff;
}

.about-me-title {
  width: fit-content;
  height: fit-content;
  align-self: flex-start;
  margin: 40px;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

.about-me-paragraph {
  width: fit-content;
  height: fit-content;
  line-height: 25px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.724);
  letter-spacing: 0.5px;
  margin: 40px;
  margin-top: 30px;
}

.social-tag-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 15px;
  margin: 20px;
  align-self: flex-end;
}

.social-tag-wrapper i {
  font-size: x-large;
}

.project-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
}

.title-project-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.my-work-title {
  width: 100%;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 35px;
  row-gap: 50px;
  margin-bottom: 30px;
}

.project-wrapper {
  width: 350px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.201);
}

.project-wrapper img {
  width: 350px;
  height: 250px;
}

.project-title-social-tag-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 0;
}

.project-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.pro-social-tag-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.pro-social-tag-wrapper img {
  width: 24px;
  height: 24px;
}

.pro-social-tag-wrapper i {
  font-size: 24px;
}

.pro-social-tag-wrapper a {
  text-decoration: none;
}

.project-description {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.573);
  letter-spacing: 1px;
  padding: 15px;
  padding-top: 0;
}

.contact-section {
  width: 100%;
  background-color: rgba(8, 145, 178, 1);
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.get-in-touch {
  line-break: auto;
}

.address {
  margin-top: 30px;
}

.contact-section img {
  width: 500px;
  height: 350px;
  margin: 50px;
}

.contact-me-title {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  color: #ffffff;
}

.contact-info-container {
  font-family: "Inter", sans-serif;
  color: #ffffffc6;
  margin: 50px;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  p {
    margin: 0;
  }
}

.email-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  p {
    margin: 0;
  }
}

.contact-info-container svg {
  width: 24px;
  height: 24px;
  stroke: white;
  fill: white;
}

.social-tag-wrapper-footer i {
  font-size: x-large;
  margin: 5px;
}
